body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
    background-color: #1E1E1E;
    color: #FFFFFF;
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: #000;
}

#matrix {
    display: block;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    padding: 20px;
}

.content {
    background: rgba(255, 255, 255, 0.1);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    max-width: 600px;
    width: 100%;
}

.logo {
    border-radius: 50%;
    border: 2px solid #6149eb;
    width: 150px;
    height: 150px;
    margin-bottom: 20px;
}

h1 {
    margin: 10px 0;
    font-size: 2em;
}

.tagline {
    margin: 20px 0;
    font-size: 1.2em;
    color: #AAAAAA;
}

.features {
    text-align: center;
    margin: 20px 0;
    max-width: 600px;
    margin: auto;
}

.features strong {
    display: block;
    margin-bottom: 10px;
    font-size: 1.2em;
}

.features ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-size: 1em;
}

.features ul li {
    margin: 5px 0;
    position: relative;
    padding-left: 20px;
}


.button {
    display: inline-block;
    padding: 15px 25px;
    margin: 20px 0;
    font-size: 1.2em;
    color: #FFFFFF;
    background-color: #6149eb;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #4e3bb5;
}

.social-buttons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.social-button {
    display: flex;
    align-items: center;
    margin: 0 10px;
    text-decoration: none;
    color: #FFFFFF;
    font-size: 1em;
}

.social-button img {
    margin-right: 10px;
    width: 24px;
    height: 24px;
}
